<div class="row" ng-controller="ProfileCtrl">
	<div class="col-lg-3">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Employee Avatar"></rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<rd-loading ng-if="!isLoaded"></rd-loading>
				<img gravatar-src="employee.email" style="
					position: absolute;
					top: 60%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 60%
				"></img>
			</rd-widget-body>
		<rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Employee Profile">
				<div class="message">
					<span>{{employee.name}}</span>
				</div>
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<rd-loading ng-if="!isLoaded"></rd-loading>
				<div class="table-responsive" ng-if="isLoaded">
					<table class="table">
						<tbody>
							<tr>
								<td class="text-center">
									Name
								</td>
								<td>{{employee.name}}</td>
							</tr>
							<tr>
								<td class="text-center">
									Email
								</td>
								<td>{{employee.email}}</td>
							</tr>
							<tr>
								<td class="text-center">
									HipChat ID
								</td>
								<td>@{{employee.hipchatHandle}}</td>
							</tr>
							<tr>
								<td class="text-center">
									Role
								</td>
								<td>Developer</td>
							</tr>
							<tr>
								<td class="text-center">
									Support
								</td>
								<td>WEB/API</td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		<rd-widget>
	</div>
	<div class="col-lg-3">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Employee Status">
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<rd-loading ng-if="!isLoaded"></rd-loading>
				<div class="table-responsive" ng-if="isLoaded">
					<table class="table">
						<tbody>
							<tr ng-repeat="(key, value) in employee.calendar">
								<td>{{key}}</td>
								<td>{{value.status}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>
